@import 'modules/maps/maps';

body {
  padding-bottom: 300px;

  a {
    color: #000;
    font-weight: bold;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  h1 { text-align: center; }

  address {
    ul {
      list-style: none;
      border-left: 2px solid black;
      padding-left: 15px;
    }
  }

  footer {
    font-size: 0.8em;
    padding: 200px 0 20px 0;

    .qrcode {
      width: 100px;
      height: 100px;
      display: inline-block;
      background-image: url(images/beliscateta.net.br-qrcode.png);
      background-image: url(images/beliscateta.net.br-qrcode.svg);
      background-size: 100px;
    }
  }
}
